<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<% if @rental_requests.any? %>
  <h2>Rental Requests</h2>
  <% @rental_requests.each do |request| %>
    <p>
      <strong>Start Date:</strong> <%= request.start_date %>
      <strong>End Date:</strong> <%= request.end_date %>
      <strong>Status:</strong> <%= request.status %>
    </p>
  <% end %>
<% end %>
