

<h1><%= @cat.name %></h1>
<h4><%= @owner_name %>'s cat</h4>
<% if @cat.owner == current_user %>
  <%= button_to "Edit #{@cat.name}", edit_cat_path(@cat), method: :get %>
<br>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<% if @rental_requests.any? %>
  <h2>Rental Requests</h2>
  <% @rental_requests.each do |request| %>
    <p>
      <div>
        <div style="float: left;">
          <strong>Start Date:</strong> <%= request.start_date %>
          <strong>End Date:</strong> <%= request.end_date %>
          <strong>Requester:</strong> <%= request.requester.user_name %>
          <strong>Status:</strong> <%= request.status %>
        </div>

        <% if request.pending? && @cat.owner == current_user %>
          <div style="float: left;">
            <%= button_to "Approve", approve_cat_rental_request_path(request), method: :patch %>
          </div>
          <div style="float: left;">
            <%= button_to "Deny", deny_cat_rental_request_path(request), method: :patch %>
          </div>
        <% end %>

        <div style="clear:both;"></div>
      </div>
    </p>
  <% end %>
<% end %>
